{% extends "view.html" %}
{% block content %}
<div>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1>People</h1>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPerson">Add Person</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePerson">Update Person</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletePerson">Delete Person</button>
            </div>

        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Person ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Location ID</th>
                    <th scope="col">Location Name</th>
                </tr>
            </thead>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    {% for col in cols %}
                    <td>{{ item[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    
<!-- Modal -->
<div class="modal" id="addPerson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPersonLabel">Add Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="addPersonForm" action="/addPersonReq" method="get">
                    <div class="col-2">
                        <label for="inputPersonID"  class="form-label">Person ID</label>
                        <input class="form-control" type="text" id="inputPersonID" name="personID">
                    </div>
                    <div class="col-5">
                        <label class="form-label" for="inputFirstName">First Name</label>
                        <input class="form-control" type="text" id="inputFirstName" name="first_name">
                    </div>
                    <div class="col-5">
                        <label for="inputLastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" id="inputLastName" name="last_name">
                    </div>
                    <div class="col-12">
                        <label for="inputLocationID" class="form-label">LocationID</label>
                        <select class="form-select" id="inputLocationID" value="" name="locationID">
                            <option hidden disabled selected value></option>
                            {% for location in locations %}
                            <option value="{{ location['locationID'] }}">{{ location['locationID'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12" onclick="selectRole()">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="passengerRole" id="passenger" name="passengerRole">
                            <label class="form-check-label" for="passenger">Passenger</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="pilotRole" id="pilot" name="pilotRole">
                            <label class="form-check-label" for="pilot">Pilot</label>
                        </div>
                    </div>
                    <div class="row" id="pilotInfo" hidden>
                        <div class="col-6">
                            <label class="form-label" for="inputTaxID">Tax ID</label>
                            <input class="form-control" type="text" id="inputTaxID" name="taxID">
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="inputExperience">Experience</label>
                            <input class="form-control" type="number" id="inputExperience" name="experience">
                        </div>
                    </div>
                    <div class="row" id="passengerInfo" hidden>
                        <div class="col-6">
                            <label class="form-label" for="inputMiles">Miles</label>
                            <input class="form-control" type="number" id="inputMiles" name="miles">
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="inputFunds">Funds</label>
                            <input class="form-control" type="number" id="inputFunds" name="funds">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="addPerson()">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="updatePerson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePersonLabel">Update Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="updatePersonForm" action="/updatePersonReq" method="get">
                    <div class="col-2">
                        <label for="updatePersonID"  class="form-label">Person ID</label>
                        <input class="form-control" type="text" id="updatePersonID" name="personID">
                    </div>
                    <div class="col-5">
                        <label class="form-label" for="updateFirstName">First Name</label>
                        <input class="form-control" type="text" id="updateFirstName" name="first_name">
                    </div>
                    <div class="col-5">
                        <label for="updateLastName" class="form-label">Last Name</label>
                        <input class="form-control" type="text" id="updateLastName" name="last_name">
                    </div>
                    <div class="col-12">
                        <label for="updateLocationID" class="form-label">LocationID</label>
                        <select class="form-select" id="updateLocationID" value="" name="locationID">
                            <option hidden disabled selected value></option>
                            {% for location in locations %}
                            <option value="{{ location['locationID'] }}">{{ location['locationID'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12" onclick="updateRole()">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"  id="updatepassenger" name="passengerRole">
                            <label class="form-check-label" for="passenger">Passenger</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"  id="updatepilot" name="pilotRole">
                            <label class="form-check-label" for="pilot">Pilot</label>
                        </div>
                    </div>
                    <div class="row" id="updatepilotInfo" hidden>
                        <div class="col-6">
                            <label class="form-label" for="updateTaxID">Tax ID</label>
                            <input class="form-control" type="text" id="updateTaxID" name="taxID">
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="updateExperience">Experience</label>
                            <input class="form-control" type="number" id="updateExperience" name="experience">
                        </div>
                    </div>
                    <div class="row" id="updatepassengerInfo" hidden>
                        <div class="col-6">
                            <label class="form-label" for="updateMiles">Miles</label>
                            <input class="form-control" type="number" id="updateMiles" name="miles">
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="updateFunds">Funds</label>
                            <input class="form-control" type="number" id="updateFunds" name="funds">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="updatePerson()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deletePerson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePersonLabel">Delete Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" id="deletePersonForm" action="/deletePersonReq" method="get">
                    <div class="col-2">
                        <label for="deletePersonID"  class="form-label">Person ID</label>
                        <input class="form-control" type="text" id="deletePersonID" name="personID">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="deletePerson()">Delete</button>
            </div>
        </div>
    </div>
</div>


<script>
function selectRole() {
    if (document.getElementById("pilot").checked) {
        document.getElementById("inputMiles").value = "";
        document.getElementById("inputFunds").value = "";
        document.getElementById("passengerInfo").hidden = true;
        document.getElementById("pilotInfo").hidden = false;
    }
    if (document.getElementById("passenger").checked) {
        document.getElementById("inputTaxID").value = "";
        document.getElementById("inputExperience").value = "";
        document.getElementById("pilotInfo").hidden = true;
        document.getElementById("passengerInfo").hidden = false;
    }
}

function updateRole() {
    if (document.getElementById("updatepilot").checked) {
        document.getElementById("updateMiles").value = "";
        document.getElementById("updateFunds").value = "";
        document.getElementById("updatepassengerInfo").hidden = true;
        document.getElementById("updatepilotInfo").hidden = false;
    }
    if (document.getElementById("updatepassenger").checked) {
        document.getElementById("updateTaxID").value = "";
        document.getElementById("updateExperience").value = "";
        document.getElementById("updatepilotInfo").hidden = true;
        document.getElementById("updatepassengerInfo").hidden = false;
    }
}

function addPerson() {
    document.getElementById('addPersonForm').submit();
}
function updatePerson() {
    document.getElementById('updatePersonForm').submit();
}
function deletePerson() {
    document.getElementById('deletePersonForm').submit();
}

</script>
{% endblock %}